# 問1
要件を満たす関数を作成し、 を引数に与えた時の出力値を選択せよ。

画像は count という名前で関数を作成し、長さが 5 の整数のリストを引数に取った場合の例です。data というリストを count という関数に渡して、2 という出力が得られているため、この場合は 2 を選択します。


整数が複数個格納されたリストを関数の引数にとる。

関数は引数として与えられたリスト内の整数について「3 では割り切れるが、5 では割り切れない整数」の個数をカウントする

In [4]:
# &だと何故かうまくいかない
def count(data: list) -> int:
    count = 0
    for d in data:
        if (d % 3 == 0) and (d % 5) != 0:
            count += 1
    return count

In [2]:
data = [15, 4, 27, 29, 9]
print(count(data))

2

In [3]:
x = [48, 240, 557, 185, 655, 475, 250, 177, 132, 598, 979, 479, 748, 672, 558]
print(count(x))

5

# 問2
以下のデータセットから、要件を満たすサンプルの製造年を整数（小数第一位を四捨五入）で答えなさい。

データセット：auto_mpg.csv（データセットの詳細については「 Pandas と Matplotlib の基礎」を参照してください。）

下記条件を両方満たすこと

製造国（変数名：Origin） がアメリカ (1) ではない

重量（変数名：Weight）が 3000 より大きい

条件を満たすものが複数ある場合は、もっとも燃費効率（変数名：MPG）が小さいサンプルについて解答すること

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('data/auto-mpg.csv')
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [12]:
x = df[(df['Origin'] != 1) & (df['Weight'] > 3000)]
x.sort_values('MPG').head(1) # 78

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
275,16.2,6,163.0,133.0,3410.0,15.8,78,2

# 問3

以下のデータセットから、要件を満たす燃費効率（変数名：MPG）の中央値を整数（小数第一位を四捨五入）で答えなさい。

データセット：auto_mpg.csv

製造国（変数名：Origin）が日本 (3) であること

動画で扱った Pandas のメソッドを使用すること

In [13]:
x = df[df['Origin'] == 3]

In [19]:
mpg = x['MPG']
mpg

14     24.0
18     27.0
29     27.0
31     25.0
52     31.0
       ...
376    34.0
377    38.0
378    32.0
379    38.0
384    32.0
Name: MPG, Length: 79, dtype: float64

In [20]:
mpg.median() # 31.6 -> 32 (中央値と平均値の違いがわからなかった)

31.6